.counter {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 10px;
  color:lavender;
  background: purple;
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 24px;

  &:hover {
    border-color: pink;
  }
  &:focus-visible {
    outline: 2px solid hotpink;
    outline-offset: 2px;
  }
}

.hefty {
  border-radius: 0 5 2px 0;
  background-color: lightsteelblue;

}

.subtitle-1 {
  color: rgb(94, 28, 155);
}

.explain {
  color: rgba(goldenrod);

}

.bp-1 {
  color: darkblue;
}

.Item-1 {
  text-align: left;
  color: darkblue;
}


#nextsteps {
  border: 2px solid transparent;
  margin-bottom: 24px;
  background: ivory;
  text-align: left;
  text-transform: lowercase;
}

